<!DOCTYPE html>
<html>
<head>
 <title>PlantUML to SQL Converter</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }

        .left-column, .right-column {
            width: 48%; /* Adjust the width as needed */
        }
    </style></head>
<body>
    <h2>PlantUML to SQL Converter</h2>
        <div class="container">
        <div class="left-column">
            <form method="POST" action="/">
                <textarea name="plantuml_code" rows="10" cols="50"></textarea>
                <input type="submit" value="Convert">
            </form>
        </div>
        <div class="right-column">
            {% if sql_output %}
                <h2>SQL Output:</h2>
                <pre>{{ sql_output }}</pre>
            {% endif %}
        </div>
    </div>
</body>
</html>
